// Iconfile (64/32/16)
ID ICON "Logo.ico"

// Infos for windows
1 VERSIONINFO
FILEVERSION	0,94,4,0
PRODUCTVERSION 	0,94,4,0
FILEFLAGSMASK 	0x3fL
FILEFLAGS 	0x0L
FILEOS		0x40004L
FILETYPE 	0x2L
FILESUBTYPE 	0x0L
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", "Smørbrød Software"
      VALUE "FileDescription", "Acme crossassembler"
      VALUE "FileVersion", "0.94.4 testing"
      VALUE "InternalName", "ACME crossassembler"
      VALUE "LegalCopyright", "Copyright © 2013 Marco Baye"
      VALUE "OriginalFilename", "acme.exe"
      VALUE "ProductName", "ACME Crossassembler"
      VALUE "ProductVersion", "0.94.4 testing"
      VALUE "PorductLicence","GNU General Public License"
      VALUE "WindowsPort","Dirk Höpfner hoeppie@gmx.de"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252
  END
END